.logo{
    width: 140px;
    height: 60px;
}
body{
    background-image: url("/src/img/star-background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.footer{
    width: 100%;
    padding-left:0px;
    padding-right: 0px;
    position: fixed;
}